html {background-color: lightskyblue !important}

#myCanvas {
    cursor: crosshair;
    border: 5px;
    border-style: solid;
    border-color: blue;
    background-color: black;
    margin-left: 15%;
    margin-right: 15%;
}

header {

    font-size: 3em;

}

#predict{

    border: 5px;
    border-style: solid;
    border-color: blue;
    font-size: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

h1 {

    font-size: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {

    background-color: lightskyblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
